<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Invoices</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToEditInvoice()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="rotate-scale-up">
  <ion-slides mode="ios" pager="true" scrollbar="ios">
    <ion-slide *ngFor="let invoice of invoiceService.getInvoices() | async">
      <ion-card (click)="goToEditInvoice(invoice.id)">
        <ion-card-header *ngIf="invoice.estado; else pendiente">
          <img src="../../../assets/resources/cheque.png" alt="Check" />
        </ion-card-header>
        <ng-template #pendiente>
          <ion-card-header>
            <img src="../../../assets/resources/boton-x.png" alt="NoCheck" />
          </ion-card-header>
        </ng-template>
        <ion-card-content>
          <h6>{{invoice.fecha}}</h6>
          <h6>{{invoice.cantidad | currency:'EUR'}}</h6>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
