<app-header titulo='Invoices'></app-header>

<ion-content mode="md">

  <!-- Invoices's filter -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn_state" *ngIf="estado; else pending" (click)="invoiceStatus(true)" expand="block"
          fill="outline" color="light">
          <ion-label>Pending</ion-label>
        </ion-button>
        <ng-template #pending>
          <ion-button expand="block" class="btn_state" (click)="invoiceStatus(false)" expand="block" fill="outline"
            color="success">
            <ion-label>Paid</ion-label>
          </ion-button>
        </ng-template>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="btn_state" (click)="allInvoices()" expand="block" fill="outline"
          color="warning">
          <ion-label>All invoices</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="row">
      <ion-row class="rowSearch">
        <ion-col class="date" size="5">
          <ion-item >
            <ion-label>FROM</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" [(ngModel)]="dateFrom" (ionChange)="searchDate()"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col class="date" size="5">
          <ion-item>
            <ion-label>TO</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" [(ngModel)]="dateTo" (ionChange)="searchDate()"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <!-- Invoices's list -->
  <ion-item-sliding *ngFor="let invoice of invoices | async">

    <ion-item>
      <ion-thumbnail slot="start">
        <img *ngIf="invoice.estado" src="../../../assets/resources/paid.png">
        <img *ngIf="!invoice.estado" src="../../../assets/resources/unpaid.png">
      </ion-thumbnail>
      <ion-label>
        <p>Provider: {{invoice.proveedor}}</p>
        <p>Date: {{invoice.fecha | date: 'dd/MM/yy'}}</p>
        <p>Total: {{invoice.cantidad | currency:'EUR'}}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="this.goToEditInvoice(invoice.invoiceId)">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-item-option>

    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="light" (click)="presentAlertConfirm(invoice)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

  <!-- Add invoice button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToEditInvoice()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>