<app-header titulo="{{(user.nombre | titlecase) || 'Your name?'}}"></app-header>

<ion-content mode="md">
  <ion-card class="slide-fwd-center">
    <div class="image">
      <ion-avatar class="photo" (click)="newImageUpload()">
        <img [src]="user.image || '../../../assets/resources/personas.png'" alt="userImage" />
      </ion-avatar>
    </div>

    <ion-list>
      <!-- Entry name -->
      <ion-item>
        <ion-label color="light" position="floating">Name</ion-label>
        <ion-input name="nombre" type="text" [(ngModel)]="user.nombre" required> </ion-input>
      </ion-item>

      <!-- Entry email -->
      <ion-item>
        <ion-label color="light" position="floating">Email</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="user.email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
      </ion-item>

      <!-- Entry password -->
      <ion-item>
        <ion-label color="light" position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="pass" required></ion-input>
      </ion-item>

      <!-- Entry repeat password -->
      <ion-item>
        <ion-label color="light" position="floating">Repeat password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="passRepeat" required></ion-input>
      </ion-item>
    </ion-list>

    <!-- Confirm Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="light" fill="outline" (click)="saveChange(user)">Save</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="light" (click)="cancelChange()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Delete User -->
    <div class="deleteUser" (click)="presentAlertConfirm()">
      <p>Delete User</p>
    </div>

  </ion-card>



</ion-content>