<app-header titulo="Accounting"></app-header>

<ion-content mode="md">
  <ion-list *ngIf="!delay">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label slot="end">
        <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="delay" class="despedida">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <img class="bocadillo" src="../../../assets/resources/adios.png" alt="Bocadillo despedida" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <img class="chica" src="../../../assets/resources/teveopronto.png" alt="Chica despidiendose" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <h2>Si quieres ver más sobre este proyecto, nos vemos en HLC..</h2>
    <div>
      <img src="../../../assets/resources/logoAngular.png" alt="" />
    </div>
  </div>
</ion-content>