.bocadillo {
  position: relative;
  width: 40%;
  left: 45%;
  top: 20%;
}

.chica {
  position: relative;
  width: 40%;
  left: 25%;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
