<app-header titulo="{{(employee.nombre | titlecase) || 'New Employee'}}"></app-header>

<ion-content>
  <ion-card>
    <form #formulario="ngForm">
      <ion-list>
          <div class="avatar">
            <ion-avatar (click)="newImageUpload()">
              <img *ngIf="edit" [src]="employee.imagen || '../../../assets/resources/'+ employee.genero">
              <img *ngIf="!edit && employee.genero" [src]="employee.imagen ||'../../../assets/resources/'+ employee.genero">
              <img *ngIf="!edit && !employee.genero && !employee.imagen" [src]="'../../../assets/resources/personas.png'">
            </ion-avatar>
          </div>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input name="nombre" type="text" placeholder="Introduzca nombre.." [(ngModel)]="employee.nombre" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" type="email" placeholder="Introduzca email.." [(ngModel)]="employee.email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Salary</ion-label>
          <ion-input name="salario" type="number" placeholder="Employee's salary.." [(ngModel)]="employee.salario"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input name="telefono" type="number" placeholder="Telefono.." [(ngModel)]="employee.telefono" required>
          </ion-input>
        </ion-item>

        <ion-item required>
          <ion-label>Job</ion-label>
          <ion-select [(ngModel)]="employee.puesto" [ngModelOptions]="{standalone: true}" okText="Ok"
            cancelText="Cancel">
            <ion-select-option value="Chef">Chef</ion-select-option>
            <ion-select-option value="Waiter">Waiter</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item required>
          <ion-label>Genre</ion-label>
          <ion-select [(ngModel)]="employee.genero" [ngModelOptions]="{standalone: true}" okText="Ok"
            cancelText="Cancel">
            <ion-select-option value="man.png">Man</ion-select-option>
            <ion-select-option value="woman.png">Woman</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>

  <div class="btns">
    <ion-button (click)="saveEmployee()" color="success" shape="round"> Save </ion-button>
    <ion-button (click)="goEmployees()" color="light" shape="round"> Cancel </ion-button>
  </div>
</ion-content>