<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/employees" text=""></ion-back-button>
    </ion-buttons>

    <ion-title> {{(empleado.nombre | titlecase) || 'New Employee'}} </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="espacio"></div>
  <ion-card>
    <form #formulario="ngForm">
      <ion-list>
        <img
          *ngIf="empleado.genero !== ''"
          [src]="'../../../assets/resources/' + empleado.genero"
          alt="Icono Empleado"
        />

        <img *ngIf="empleado.genero === ''" src="../../../assets/resources/personas.png" alt="Icono Empleados" />

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="nombre" type="text" placeholder="Introduzca nombre.." [(ngModel)]="empleado.nombre" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            name="email"
            type="email"
            placeholder="Introduzca email.."
            [(ngModel)]="empleado.email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Salario</ion-label>
          <ion-input
            name="salario"
            type="number"
            placeholder="Salario del empleado.."
            [(ngModel)]="empleado.salario"
            required
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input name="telefono" type="number" placeholder="Telefono.." [(ngModel)]="empleado.telefono" required>
          </ion-input>
        </ion-item>

        <ion-item required>
          <ion-label>Puesto</ion-label>
          <ion-select
            [(ngModel)]="empleado.puesto"
            [ngModelOptions]="{standalone: true}"
            okText="Ok"
            cancelText="Cancel"
          >
            <ion-select-option value="cocinero">Cocinero</ion-select-option>
            <ion-select-option value="camarero">Camarero</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item required>
          <ion-label>Género</ion-label>
          <ion-select
            [(ngModel)]="empleado.genero"
            [ngModelOptions]="{standalone: true}"
            okText="Ok"
            cancelText="Cancel"
          >
            <ion-select-option value="hombre.png">Hombre</ion-select-option>
            <ion-select-option value="mujer.png">Mujer</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>

  <div class="botones">
    <ion-button (click)="saveEmployee()" color="success" shape="round"> Save </ion-button>
    <ion-button (click)="goEmployees()" color="light" shape="round"> Cancel </ion-button>
    <ion-button *ngIf="empleado.id !== undefined" (click)="presentAlertConfirm(empleado)" color="warning" shape="round">
      Delete
    </ion-button>
  </div>
</ion-content>
