ion-card {
  padding: 10px;
}

ion-label {
  font-weight: bold;
}

.card {
  margin-top: 15%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  img {
    width: 6em;
  }
}

ion-row{
  margin: 5%;
}