ion-card {
  padding: 10px;
}

ion-label {
  font-weight: bold;
}

.card {
  margin-top: 15%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  img {
    width: 6em;
  }
}

.espacio {
  min-height: 5vh;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    margin-top: 7%;
    margin-bottom: 6%;
  }
}