<ion-header [translucent]="true">

  <ion-toolbar class="ion-text-center" color="light">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sales"></ion-back-button>
    </ion-buttons>

    <ion-title>Sales register</ion-title>
      
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

<ion-card>

  <form #formulario='ngForm'>

    <ion-list>

      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input  name='fecha' 
                    type="date"
                    [(ngModel)]="sale.fecha" 
                    required>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Efectivo</ion-label>
        <ion-input  name='efectivo' 
                    type="number"
                    [(ngModel)]="sale.efectivo" 
                    required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tarjeta</ion-label>
        <ion-input  name='tarjeta' 
                    type="number"
                    [(ngModel)]="sale.tarjeta" 
                    required>
        </ion-input>
      </ion-item>

    </ion-list>

  </form>

</ion-card>

<ion-button (click)="saveSale()" color="success" shape="round">
  Save
</ion-button>
<ion-button (click)="goSales()" color="danger" shape="round">
  Cancel
</ion-button>

</ion-content>
