<app-header titulo="{{(sale.fecha | date: 'dd / MM / yy') || 'New Sale'}} "></app-header>

<ion-content mode="md">

  <ion-card class="card">
    <!-- Sale form -->
    <form #formulario="ngForm">
      <div class="image">
        <img src="../../../assets/resources/venta.png" alt="Sale logo" />
      </div>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <ion-datetime name="fecha" type="date" display-format="DD.MM.YYYY" cancelText="Cancel"
            [(ngModel)]="sale.fecha" required="true" [ngModelOptions]="{standalone: true}">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cash</ion-label>
          <ion-input name="efectivo" type="number" min="0" [(ngModel)]="sale.efectivo"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Card</ion-label>
          <ion-input name="tarjeta" type="number" min="0" [(ngModel)]="sale.tarjeta"> </ion-input>
        </ion-item>
      </ion-list>
    </form>

    <!-- Save or cancel change buttons -->
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="saveSale()" color="light" fill="outline">Save</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="goSales()" color="light"> Cancel </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
