<app-header titulo='Employees'></app-header>

<ion-content>
  <!-- Search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar (ionChange)="getBusqueda($event)"></ion-searchbar>
    </ion-col>
  </ion-row>

  <!-- Employees list -->
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let employee of employees | async" size-lg="3" size-md="4" size-sm="6"
        size-xs="12">
        <ion-card class="scale-up-center" (click)="presentActionSheet(employee)">
          <ion-row class="avatar">
            <ion-col size="12">
              <ion-avatar>
                <img [src]="employee.imagen || '../../../assets/resources/' + employee.genero">
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>{{employee.nombre | titlecase}}</p>
            </ion-col>
            <ion-col size="12">
              <p *ngIf="employee.puesto == 'camarero'; else coocker">
                <ion-icon slot="icon-only" name="man-outline"></ion-icon> {{employee.puesto | titlecase}}
              </p>
              <ng-template #coocker>
                <p>
                  <ion-icon slot="icon-only" name="restaurant-outline"></ion-icon> {{employee.puesto | titlecase}}
                </p>
              </ng-template>
            </ion-col>
            <ion-col size="12">
              <p>
                <ion-icon slot="icon-only" name="call-outline"></ion-icon> {{employee.telefono}}
              </p>
            </ion-col>
            <ion-col size="12">
              <p>
                <ion-icon slot="icon-only" name="mail-outline"></ion-icon> {{employee.email}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Fab Add Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="goEmployeesRegister()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>