<ion-header [translucent]="true">

  <ion-toolbar class="ion-text-center" color="light">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Employees</ion-title>
      
    <ion-buttons slot="end">
      <ion-button (click)="goEmployeesRegister()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>


    <ion-grid fixed>

        <ion-row>

            <ion-col *ngFor="let employee of employees"
                     size-lg="3"
                     size-md="4"
                     size-sm="6"
                     size-xs="12">
                <ion-card class="ion-padding ion-text-center scale-up-center" 
                          (click)="goEmployeesRegister(employee.id)">

                    <ion-avatar>
                        <img [src]="employee.imagen || '../../../assets/iconsDashboard/tio.jpg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{employee.nombre}} - {{employee.id}}</h2>
                      <p>{{employee.puesto}}</p>
                      <p>{{employee.telefono}}</p>
                      <p>{{employee.email}}</p>

                    </ion-label>    
                </ion-card>

            </ion-col>

        </ion-row>

    </ion-grid>
    

</ion-content>
