<app-header titulo='Register'></app-header>

<ion-content mode="md" class="ion-text-center">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
      <ion-col size-xs="12" size-md="8" size-lg="6" size-xl="4">
        <ion-card class="slide-bck-center">
          <ion-grid>
            <ion-row class="photo">
              <ion-col size="12">
                <img src="../../assets/resources/logoCompleto.svg" alt="LogoMatter" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label color="dark" position="floating">Name</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="user.nombre" required> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label color="dark" position="floating">Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="user.email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label color="dark" position="floating">Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="pass" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label color="dark" position="floating">Repeat password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="passRepeat" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="buttons">
              <ion-col size="6">
                <ion-button expand="block" fill="outline" color="light" (click)="register()">Register</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" color="light" (click)="goToHome()">Cancel</ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>