<ion-header translucent mode="md">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-no-border" class="ion-text-center">NUsuario</ion-title>

    <ion-buttons slot="end">
      <ion-button expand="block" shape="round">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="icono">
  <img src="../../../assets/resources/registro.png" alt="FotoRegistro">
</div>
<ion-content mode="md">
  <div class="cont">
  <div class="container">
    <!-- Entrada nombre -->
    <ion-item>
      <ion-label color="light" position="floating">Nombre</ion-label>
      <ion-input name="nombre" type="text" [(ngModel)]="usuario.nombre" required> </ion-input>
    </ion-item>

    <!-- Entrada Email -->
    <ion-item>
      <ion-label color="light" position="floating">Email</ion-label>
      <ion-input
        name="email"
        type="email"
        [(ngModel)]="usuario.email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      ></ion-input>
    </ion-item>

    <!-- Entrada Password -->
    <ion-item>
      <ion-label color="light" position="floating">Password</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>

    <!-- Entrada Password Repetida -->
    <ion-item>
      <ion-label color="light" position="floating">Repita password</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="usuario.password2" required></ion-input>
    </ion-item>

    <div class="espacio"></div>

    <!-- Boton Registro -->
    <ion-button color="light" (click)="userRegister(usuario)">Register</ion-button>
  </div>
</div>
</ion-content>
