<app-header titulo='Photos'></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      
      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
      <!-- Contenido -->
      <ion-col size-xs="12" size-md="8" size-lg="6" size-xl="4">
        
        <swiper #swiper [config]="config">
          <ng-template swiperSlide *ngFor="let image of photos | async">
            <img (click)="presentAlertConfirm(image)" class="photo" [src]="image.formato"
                alt='{{image.ubicacion}}' (error)="image.formato ='../../../assets/resources/matters.png' " />
          </ng-template>
        </swiper>

        <ion-card *ngIf="select" class="ion-padding ion-text-center">
          <!-- Logo -->
          <img [src]="image || '../../../assets/resources/adios.png'" />
          <ion-item class="form">
            <ion-label color="dark" position="floating">Ubicación</ion-label>
            <ion-input name="ubicación" type="text" [ngModel]="newPhoto.ubicacion">
            </ion-input>
          </ion-item>
          <div class="espacio"></div>
          <!-- Button Cancel -->
          <ion-button color="light" fill="outline" (click)="select = false">Cancel</ion-button>
          <!-- Button Accept -->
          <ion-button color="light" (click)="addPhoto()">Accept</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="foto()">
    <ion-fab-button color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>