<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/invoices"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="factura.estado">Pagada</ion-title>
    <ion-title *ngIf="!factura.estado">Pendiente</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="espacio"></div>

  <ion-card>
    <form #formulario="ngForm">
      <img
        *ngIf="factura.estado === false"
        src="../../../assets/resources/facturaPendiente.png"
        alt="Factura pendiente"
      />

      <img *ngIf="factura.estado === true" src="../../../assets/resources/facturaPagada.png" alt="Factura pagada" />
      <ion-list>
        <ion-item>
          <ion-label position="floating">Código Factura</ion-label>
          <ion-input name="codigo" type="text" [(ngModel)]="factura.codigo" required> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime
            placeholder="Fecha"
            name="fecha"
            type="date"
            display-format="YYYY MMMM DD"
            cancelText="Cancel"
            [(ngModel)]="factura.fecha"
            required="true"
            [ngModelOptions]="{standalone: true}"
          >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input name="cantidad" type="number" min="0" [(ngModel)]="factura.cantidad" required> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Proveedor</ion-label>
          <ion-input name="proveedor" type="text" [(ngModel)]="factura.proveedor" required> </ion-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-item>
      <ion-label>Estado factura</ion-label>
      <ion-toggle [(ngModel)]="factura.estado" color="success"></ion-toggle>
    </ion-item>
  </ion-card>

  <div class="botones">
    <ion-button class="btnsave" (click)="saveInvoice()" color="success" shape="round"> Save </ion-button>
    <ion-button class="btncancel" (click)="goInvoices()" color="light" shape="round"> Cancel </ion-button>
    <ion-button
      class="btncancel"
      *ngIf="factura.id !== undefined"
      (click)="presentAlertConfirm(factura)"
      color="warning"
      shape="round"
    >
      Delete
    </ion-button>
  </div>
</ion-content>
