ion-label {
  font-weight: bold;
}

ion-card {
  padding: 10px;
}

.card {
  margin-top: 15%;
}

.buttons {
  display: flex;
  margin-top: 7%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  img {
    width: 6em;
    height: 6em;
  }
}


