.espacio {
  min-height: 5vh;
}

.botones {
  text-align: center;
}

ion-button {
  position: relative;
  width: 30%;
}

ion-card {
  padding: 10px;
}

img {
  position: relative;
  width: 30%;
  height: 30%;
  left: 33%;
}

ion-label {
  font-weight: bold;
}
