/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
  font-family: 'Microgramma D OT Extended';
  src: url('/assets/Fonts/MICROGRAMMA-D-OT-BOLD-EXTENDED.TTF');
}

ion-title {
  font-family: 'Microgramma D OT Extended', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
}

ion-chip {
  border: 2px solid rgba(255, 0, 0, 1);
}

ion-fab-button {
  --background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 70%);
  
  ion-icon {
    font-size: 2em;
  }
}

ion-toolbar{
  --background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 70%);
}

ion-card{
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

