<app-header titulo='Dashboard'></app-header>

<ion-content mode="md">
  <ion-grid class="all" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card class="welcome" (click)="goToEditeUser()">
          <ion-grid>
            <ion-row>
              <ion-col class="dashAvatar" size="6">
                <ion-avatar class="avatar">
                  <img [src]="user.image || '../../../assets/resources/trabajando.png'" alt="userImage" />
                </ion-avatar>
              </ion-col>
              <ion-col size="6">
                <p class="ion-text-center">Welcome</p>
                <p class="ion-text-center">{{(user.nombre | titlecase) || 'Human'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let module of modulos">
        <ion-card class="cards" (click)="goTo(module)">
          <ion-badge color="danger" slot="start">{{ pending }}</ion-badge>
          <img class="icon" [src]="'../assets/resources/'+ module.image" alt="{{module.name}}" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>