<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;" class="ion-text-center">MATTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

      <!-- Content -->
      <ion-col size-xs="12" size-md="8" size-lg="6" size-xl="4">
        <ion-card class="ion-padding ion-text-center rotate-vert-center">
          <!-- Logo -->
          <img src="../../assets/resources/logoCompleto.svg" alt="LogoMatters" />

          <!-- Email -->
          <ion-item class="form">
            <ion-label color="dark" position="floating">Email</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </ion-input>
          </ion-item>

          <!-- Password -->
          <ion-item class="form">
            <ion-label color="dark" position="floating">Password</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password">
            </ion-input>
          </ion-item>

          <!-- Login & Register buttons -->
          <div class="buttons">
            <ion-button expand="block" color="light" fill="outline" (click)="goToRegister()">Register</ion-button>
            <ion-button expand="block" color="light" (click)="login()">Login</ion-button>
          </div>

          <!-- Recovery pass -->
          <div class="chips">
            <ion-chip color="light" outline="true" (click)="goToRecovery()">
              <ion-icon color="dark" name="mail"></ion-icon>
              <ion-label>Recovery</ion-label>
            </ion-chip>

            <!-- Google Authentication -->
            <ion-chip color="light" outline="true" (click)="googleAuthentication()">
              <ion-icon color="primary" name="logo-google"></ion-icon>
              <ion-label>GoogleAuth</ion-label>
            </ion-chip>
          </div>

        </ion-card>
      </ion-col>
      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>