<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Matters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>

      <!-- Contenido -->
      <ion-col size-xs="12" size-md="8" size-lg="6" size-xl="4">
        <ion-card class="ion-padding ion-text-center rotate-vert-center">
          <!-- Logo -->
          <img src="../../assets/resources/matters.png" alt="LogoMatters" />

          <!-- Entrada Email -->
          <ion-item class="form">
            <ion-label color="dark" position="floating">Email</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </ion-input>
          </ion-item>

          <!-- Entrie Password -->
          <ion-item class="form">
            <ion-label color="dark" position="floating">Password</ion-label>          
            <ion-input name="password" type="password" [(ngModel)]="password">  
            </ion-input>
          </ion-item>

          <div class="espacio"></div>

          <!-- Buton Registro -->
          <ion-button color="light" fill="outline" (click)="goToRegister()">Register</ion-button>

          <!-- Buton Login -->
          <ion-button color="light" (click)="login()">Login</ion-button>

          <a class="recovery" href="/recovery-pass">
            <ion-icon  class="iconos" name="mail"></ion-icon>
            Password recovery
          </a>

        </ion-card>
      </ion-col>

      <ion-col size-xs="0" size-md="2" size-lg="3" size-xl="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>