ion-card {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

ion-row {
  border-bottom: groove;
}

ion-row:nth-child(2n) {
  background-color: rgb(229, 253, 94);
}

.header {
  background-color: red;
  font-weight: bold;
  color: white;
}

ion-item {
  padding: 0;
  background-color: rgb(158, 90, 0);
  border-radius: 5px;
  border: 2px solid rgb(209, 1, 1);
}

.espacio {
  min-height: 2vh;
}

img {
  position: relative;
  left: 40%;
  width: 30px;
}

p {
  font-weight: bold;
  color: white;
}

ion-grid {
  padding: 0;
}

.cabecera {
  padding: 0;
  margin: 0;
  border: 2px solid red;
  max-height: 10vh;
}

.sale{
  cursor: pointer;
}

.maxmin {
  background-color: rgb(209, 1, 1);
}

