<app-header titulo='Sales'></app-header>

<ion-content>

  <!-- Sale's filter -->
  <p class="tittle">Filter your sales</p>
  <div class="search">
    <ion-item class="busqueda">
      <ion-label class="ion-text-center" position="floating">Minimum</ion-label>
      <ion-input class="ion-text-center" [(ngModel)]="min" (ionChange)="getSalesRange()" type="number" min="0">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-center" position="floating">Maximum</ion-label>
      <ion-input class="ion-text-center" [(ngModel)]="max" (ionChange)="getSalesRange()" type="number" min="0">
      </ion-input>
    </ion-item>
  </div>

  <ion-button (click)="getAll()" expand="block" fill="outline" color="warning">
    All sales
  </ion-button>

  <!-- Sale's list -->
  <ion-list>
    <ion-item class="sale" *ngFor="let sale of sales | async" (click)="presentActionSheet(sale)">
      <ion-card class="cards">
        <p>Date: {{sale.fecha | date: 'dd/MM/yy'}}</p>
        <p>Cash: {{sale.efectivo | currency : 'EUR' : 'symbol' : '1.2-2'}}</p>
        <p>Card: {{sale.tarjeta | currency : 'EUR' : 'symbol' : '1.2-2'}}</p>
        <p>Total: {{sale.total | currency : 'EUR' : 'symbol' : '1.2-2'}}</p>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- Add sale button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add" (click)="goToSaleRegister()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>